@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlighters-green: #5CB338;
  --highlighters-yellow: #ECE852;
  --highlighters-red: #FB4141;
  --highlighters-orange: #FFC145;
}

body {
  color: var(--foreground);
  background: var(--highlighters-green);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Shrikhand', cursive;
}
